<h2>Due Notifications</h2>

<% if due_notifications.any? %>
  <ul>
    <% due_notifications.each do |notification| %>
      <li>
        <strong> <%= notification.title %> </strong> is due on <%= notification.trigger_at.strftime("%H:%M:%S") %> for <%= number_to_currency(notification.price, unit: notification.currency) %> <br>
        <hr>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No due notifications.</p>
<% end %>
