<%= render "due_notifications", due_notifications: @due_notifications %>

<% content_for :title, "New reminder" %>

<h1>New reminder</h1>

<%= render "form", reminder: @reminder %>

<br>

<div>
  <%= link_to "Back to reminders", reminders_path %>
</div>
